<section class="w-full h-full flex flex-col justify-between items-center">
  <header class="w-full h-12 flex justify-between">
    <div>
      <ng-icon name="saxShoppingBagBold"></ng-icon>
      <h1>Mini<br />Shop</h1>
    </div>
    <nav class="[&:a]:font-teko font-medium">
      <menu class="flex">
        <li>
          <ng-icon name="saxShopOutline"></ng-icon><a href="/shop">Shop</a>
        </li>
        <li>
          <ng-icon name="sax3dcubeOutline"></ng-icon
          ><a href="/products">Manage Your Products</a>
        </li>
        <li>
          <ng-icon name="saxShoppingCartOutline"></ng-icon
          ><a href="/cart">Your Cart</a>
        </li>
        <li>
          <ng-icon name="saxInformationOutline"></ng-icon
          ><a href="/about">About Project</a>
        </li>
      </menu>
    </nav>
    <div>
      @if (false) { <ng-icon name="saxUserOutline"></ng-icon>
      <a href="/profile">[user full name]</a> } @else {
      <ng-icon name="saxLoginOutline"></ng-icon>
      <a href="/sign-in-up">log in</a> }
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer></footer>
</section>
