<section class="w-full h-full flex flex-col justify-between items-center">
  <header class="w-full h-12 flex justify-between">
    <div>
      <img src="" alt="" />
    </div>
    <nav class="[&:a]:font-teko font-medium">
      <menu class="flex">
        <li><a href="/shop">Shop</a></li>
        <li><a href="/products">Manage Your Products</a></li>
        <li><a href="/cart">Your Cart</a></li>
        <li><a href="/about">About Project</a></li>
      </menu>
    </nav>
    <div>
      @if (false) { <a href="/profile">[user full name]</a> } @else {
      <a href="/sign-in-up">log in</a> }
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer></footer>
</section>
